
<h1>sds  Server Details</h1>

<table>
  <thead>
    <tr>
      <th>Servername</th>
      <th>Cpu</th>
	   
      <th>Disk</th>
      <th>Process</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sds.each do |sd| %>
      <tr>
        <td><%= sd.name %></td>
		 
        <td><%= sd.cpu %> </td>
	
	
        <td><%= sd.disk %></td>
        <td><%= sd.process %></td>
        <td><%= link_to 'Show', sd %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>


